body {
font-family: 'Cuprum', sans-serif;
font-size: 13px;
line-height: 24px;
color: #000000;
/*font-family: 'PT Sans', sans-serif;*/
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	background: #F1F5F7;
	margin-bottom: 60px;
}

.header_top {
	height: 42px;
	background: #293449;
	margin-bottom: 49px;
}

.header_top .container {
	display: flex;
}

.top_logo {
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	width: 220px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 18px;

	background: #EE3643;
	/*box-shadow:  0px 5px 0px 0px rgba(0, 0, 0, 0.24); */
	box-shadow:  0px 5px 0px 0px #D42230;
	
}


.top_logo:hover {
	background: #CA2C37;
}

.top_logo:active {
	background: #BA2732;
}


.search_button {
	font-size:0;

	width: 17px;
	height: 17px;
	padding: 12px 0;
	background: url("../img/icon-search.png") no-repeat;
	opacity: 0.3;
	cursor: pointer;
	border:none;

	margin-right: 11px;
}

.search_button:hover {
	opacity: 1.0;
}

.search_button:active {
	opacity: 0.3;
}




.search_field {
	width: 212px;
	padding: 12px 0;
	padding-right: 20px;

	font-family: 'Cuprum', sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #f5f5f5;


	background: #293449; 
	border: none;
}


.search_field:hover {
	background: #212A3A;
}
.search_field:focus{
	outline: none;
	background: #FFFFFF;
	color:#000000;
}

.search_field:focus::placeholder {
	color: #000000;
}

/* Добавить при помощи JS на search_field:focus; */
.search_button_red {
	background: url("../img/icon-search-red.png") no-repeat;
	opacity: 1.0;
}

.search_field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: 'Cuprum', sans-serif;
	font-size: 17px;
	line-height: 18px;
    color: #f5f5f5;
    opacity: 1; /* Firefox */
}

.search_field:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: 'Cuprum', sans-serif;
	font-size: 17px;
	line-height: 18px;
    color: #f5f5f5;
}

.search_field:focus:-ms-input-placeholder {
	color:#000000;
} 

.search_field::-ms-input-placeholder { /* Microsoft Edge */
	font-family: 'Cuprum', sans-serif;
	font-size: 17px;
	line-height: 18px;
    color: #f5f5f5;
}

.search_field:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #000000;
}

.markers_toggle {
	position: relative;

	padding: 12px 0;
	padding-left: 33px;
	padding-right: 30px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;

}


.markers_toggle:hover {
	background: #212A3A;
}

.markers_toggle:active {
	background: #161D29;
}

.markers_toggle::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 16px;

	top:13px;
	left: 6px;

	background: url("../img/icon-bookmark.png") no-repeat;
	opacity: 0.3;
}

.markers_toggle:hover::before {
	opacity: 1.0;
}

.markers_toggle:active::before {
	opacity: 0.5;
}

.cart_toggle {
	position: relative;
	padding: 12px 0;
	margin-left: 10px;
	padding-left: 36px;
	padding-right: 20px;

	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.cart_toggle:hover {
	background: #212A3A;
}

.cart_toggle:active {
	background: #161D29;
}

.cart_toggle::before {
	content: "";
	position: absolute;

	width: 17px;
	height: 16px;

	top:13px;
	left: 6px;

	background: url("../img/icon-basket.png") no-repeat;
	opacity: 0.3;
}

.cart_toggle:hover::before {
	opacity: 1.0;
}

.cart_toggle:active::before {
	opacity: 0.5;
}

.order-button {
	width: 150px;
	box-sizing: border-box;
	margin-left: 10px;
	height: 42px;
	padding: 12px 10px;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;

	background: #63A63E;

}

.order-button:hover {
	background: #5FBB2D;
}

.order-button:active {
	background: #518534;
}

.header_menu {
	margin-bottom: 39px;
}

.header_menu .container {
	display: flex;
}

.header_menu h1 {
	margin: 0;
	padding: 0;
	width: 300px;
	box-sizing: border-box;
	padding: 0 51px;
	padding-left: 52px;
	margin-right: 20px;

	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.header_contacts {
	width: 270px;
	margin-right: 69px;
}

.header_contacts_phone {
	position: relative;
	box-sizing: border-box;

	margin: 0;
	margin-bottom: 5px;
	padding: 8px 0;
	padding-left: 71px;
	padding-right: 47px;


	font-size: 21px;
	line-height: 18px;
	color: #e9292a;

	border: 3px solid #ffffff;
}

.header_contacts_phone::before {
	content: "";
	position: absolute;

	width: 19px;
	height: 19px;

	top: 11px;
	left: 12px;

	background: url("../img/icon-phone.png") no-repeat;
}

.header_contacts_address {
	margin: 0;
	padding: 1px 9px;

	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}


.login {
	margin: 0;

	display: inline-block;
	position: relative;
	width: 121px;
	box-sizing: border-box;

	padding: 11px;
	padding-left: 47px;
	padding-right: 21px;
	margin-right: 10px;

	font-size: 21px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;

	background: #ffffff;
}

.login::before {
	content: "";
	position: absolute;

	width: 20px;
	height: 17px;

	top: 12px;
	left: 14px;

	background: url("../img/icon-login.png") no-repeat;
}

.login:hover, .register:hover {
	color:#EE3643;
}
.login:hover::before {
	background: url("../img/icon-login-hover.png") no-repeat;
}

.login:active, .register:active {
	color:#CACACA;
}

.register {
	margin: 0;

	display: inline-block;
	width: 145px;
	box-sizing: border-box;
	padding: 11px;
	padding-left: 21px;
	padding-right: 24px;

	font-size: 21px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;

	background: #ffffff;

}

.header_navigation {
	padding-bottom: 60px;
}
.header_navigation nav {
	background: #32425C;
	border-bottom: 5px solid #293449;

}

.header_navigation a {
	margin: 0;

	display: inline-block;
	
	min-width: 100px;
	padding: 19px 0;
	padding-left: 14px;


	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;

}

.header_navigation .spec {
	padding-left: 24px;
    padding-right: 25px;
}

.header_navigation a:first-child {
	padding-left: 21px;
    padding-right: 12px;
}

.header_navigation a:last-child {
	padding-left: 22px;
	padding-right: 39px;
}

.header_navigation a:hover {
	background: #293449;
}

.header_navigation a:active {
	background: #1D2739;
}